#app {
  display: flex;
  flex-direction: row;
  /* background-color: antiquewhite; */

  position: absolute;  /* 画面全体に広がるようにする */
  width: 100%;
  height: 100%;
}

#memoList {
  /* background-color: aquamarine; */
  
  width: 16%;
  min-width: 200px;
}

#rightDiv {
  display: flex;
  flex-direction: column;
  /* background-color: darkcyan; */
  width: 84%;
  height: 100%;
  position: relative; 
}

#textForm {
  /* background-color: dimgray; */
  flex-grow: 1;
}

#memoOption {
  width: 100%;
  height: 64px;
}